<div class="content-block">
    {{ form_start(form, {'method': 'POST'}) }}

    <div data-controller="search-blocks"
         data-prototype="{% apply escape %} {% include 'App/AdvancedItemSearch/_prototype_block.html.twig' with { 'form': form.blocks.vars.prototype } only %} {% endapply %}"
    >
        <div data-search-blocks-target="blocksContainer">
            {% for block in form.blocks %}
                {{ include('App/AdvancedItemSearch/_prototype_block.html.twig', { 'form': block }) }}
            {% endfor %}

            {% do form.blocks.setRendered %}
        </div>

        <div class="row">
            <a data-search-filters-target="button"
               data-action="click->search-blocks#add"
               href="#"
               class="waves-effect waves-light btn s12 l2 offset-l4 xl1 offset-xl5"
            >{{ 'btn.add_block'|trans }}</a>
        </div>
    </div>

    <div class="row">
        <div class="error-helper s12">
            {{ form_errors(form) }}
        </div>
    </div>

    <br>

    <div data-controller="list-properties">
        <div class="row">
            <span class="s12 l3 offset-l1 xl2 offset-xl1">
                {{ form_row(form.displayConfiguration.displayMode, {'attr': {
                    'data-controller': 'select--display-mode',
                    'data-action': 'change->list-properties#displayProperties'
                }}) }}
            </span>
            <span class="s12 l7 offset-l3 xl7 offset-xl3 {% if search.displayConfiguration.displayMode != 'list' %}hidden{% endif %}" data-list-properties-target="property">
                {{ form_row(form.displayConfiguration.columns, {'attr': {'data-controller': 'select--default'}}) }}
            </span>
        </div>

        <div class="row {% if search.displayConfiguration.displayMode != 'list' %}hidden{% endif %}" data-list-properties-target="property">
            <span class="s12 l3 offset-l1 xl2 offset-xl1">{{ form_row(form.displayConfiguration.showActions, {'label' : 'label.list_show_actions'}) }}</span>
            <span class="s12 l3 offset-l3 xl2 offset-xl3">{{ form_row(form.displayConfiguration.showVisibility, {'label' : 'label.list_show_visibility'}) }}</span>
            <span class="s12 l3 offset-l5 xl2 offset-xl5">{{ form_row(form.displayConfiguration.showItemQuantities, {'label' : 'label.show_item_quantities'}) }}</span>
        </div>

        <div class="row">
            <span class="s12 l3 offset-l7 xl2 offset-xl9">
                <button name="submit" type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>
                <a href="#save-and-submit" class="s6 l1  modal-trigger btn waves-effect waves-light">
                    {{ 'btn.save_and_submit'|trans }}
                </a>
            </span>
        </div>
    </div>

    <div id="save-and-submit" data-controller="modal--default" class="modal modal-custom" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"></span>{{ 'title.save_and_submit'|trans }}
                </div>
                <div>
                    <div class="modal-body">
                        {{ form_row(form.name) }}
                    </div>

                    <div class="modal-footer">
                        <div class="right">
                            {{ form_row(form.saveAndSubmit, {'label': 'btn.save_and_submit'|trans, 'attr': {'class': 'btn waves-effect waves-light'}}) }}
                            <a class="modal-close waves-effect waves-light btn btn-cancel">{{ 'btn.cancel'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>