<div class="input-field outlined s9 m3 datum-input-field">
    <input type="number"
           id="data_{{ iteration }}_value"
           name="{{ entity }}[data][{{ iteration }}][value]" step="0.01"
           {% if datum is defined %}value="{{ datum.value }}"{% endif %}
           placeholder=" "
           data-additional-data-target="value"
    >
    <label for="data_{{ iteration }}_value" class="{% if datum is defined %}active{% endif %}">{{ 'label.value'|trans }}</label>
</div>
<div class="input-field outlined s9 m2 datum-input-field">
    <select id="data_{{ iteration }}_value"
            name="{{ entity }}[data][{{ iteration }}][currency]"
            data-controller="select--default" data-additional-data-target="value"
    >
        <option value="" {% if datum is not defined %}selected{% endif %}>
            {% for currency in getCurrenciesList() %}
                <option value="{{ currency.code }}"
                   {% if datum.currency|default(getContextUser().currency) == currency.code %}selected{% endif %}
                >
                    {{ currency.name }}
                </option>
            {% endfor %}
    </select>
    <label for="data_{{ iteration }}_currency">{{ 'label.currency'|trans }}</label>
</div>