<span data-value="{{ datum.value|join|default('') }}" data-type="string"></span>
{% set values = datum.value|jsonDecode %}

{% if values|length > 1 %}
    <ul class="datum-list">
        {% for value in values %}
            {% set value = value|trim %}
            <li>{{ underlinedTags[value] is defined ? _self.url(underlinedTags[value], value) : value }}</li>
        {% endfor %}
    </ul>
{% else %}
    {% set value = values|first|trim %}
    {{ underlinedTags[value] is defined ? _self.url(underlinedTags[value], value) : values|first }}
{% endif %}

{% macro url(url, value) %}
    {% apply spaceless %}
        <a href="{{ url }}">{{ value }}</a>
    {% endapply %}
{% endmacro %}