<span data-value="{{ datum.value }}" data-type="string"></span>

{% if underlinedTags is defined %}
    {% for value in datum.value|split(',') %}
        {% set value = value|trim %}
        {{ underlinedTags[value] is defined ? _self.url(underlinedTags[value], value) }}{{ not loop.last ? ',' }}
    {% endfor %}
{% else %}
    {{ datum.value }}
{% endif %}

{% macro url(url, value) %}
    <a href="{{ url }}">{{ value }}</a>
{% endmacro %}