<span data-value="{{ datum.value|join|default('') }}" data-type="string"></span>
{% set values = datum.getOrderedListChoices %}

{% if values|length > 1 %}
    <ul class="datum-list">
        {% for value in values %}
            <li>{{ underlinedTags[value|trim] is defined ? _self.url(underlinedTags[value|trim], value) : value }}</li>
        {% endfor %}
    </ul>
{% else %}
    {{ underlinedTags[values|first|trim] is defined ? _self.url(underlinedTags[values|first|trim], values|first) : values|first }}
{% endif %}

{% macro url(url, value) %}
    {% apply spaceless %}
        <a href="{{ url }}">{{ value }}</a>
    {% endapply %}
{% endmacro %}