{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_advanced_item_search_index', 'trans': 'menu.advanced_item_search'}], null, null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.advanced_item_search'|trans }}</h1>
    </div>

    <div class="content-block" data-controller="advanced-search">
        <ul>
            {% for search in searches %}
                <li><a href="{{ path('app_advanced_item_search_show', {id: search.id}) }}">{{ search.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="block-element">
            {% if results is not null %}
                <a href="#" data-advanced-search-target="showFiltersBtn" data-action="click->advanced-search#showFilters">{{ 'btn.show_filters'|trans }}</a>
                <a href="#" class="hidden" data-advanced-search-target="hideFiltersBtn" data-action="click->advanced-search#hideFilters">{{ 'btn.hide_filters'|trans }}</a>
            {% endif %}

            <div data-advanced-search-target="filters" {% if results is not null %} class="hidden" {% endif %}>
                {{ include('App/AdvancedItemSearch/_form.html.twig') }}
            </div>
        </div>

        {% if results is not null %}
            <div class="block-element">
                <h2 class="header">{{ 'title.results'|trans }}</h2>

                {{ include('App/Collection/_items_' ~ search.displayMode ~ '.html.twig', {
                    'items': results,
                    'displayConfiguration': getContextUser().itemsDisplayConfiguration
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
