{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_advanced_item_search_index', 'trans': 'menu.advanced_item_search'}], null, null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="title-block">
        <h1>{{ 'menu.advanced_item_search'|trans }}</h1>
    </div>

    <div class="content-block">
        {{ form_start(form, {'method': 'POST'}) }}

        <div data-controller="search-blocks"
             data-prototype="{% apply escape %} {% include 'App/AdvancedItemSearch/_prototype_block.html.twig' with { 'form': form.blocks.vars.prototype } only %} {% endapply %}"
        >
            <div data-search-blocks-target="blocksContainer">
                {% for block in form.blocks %}
                    {{ include('App/AdvancedItemSearch/_prototype_block.html.twig', { 'form': block }) }}
                {% endfor %}

                {% do form.blocks.setRendered %}
            </div>

            <div class="row">
                <a data-search-filters-target="button"
                   data-action="click->search-blocks#add"
                   href="#"
                   class="waves-effect waves-light btn s12 l2 offset-l4 xl1 offset-xl5"
                >{{ 'btn.add_block'|trans }}</a>
            </div>
        </div>

        <div class="row">
            <div class="error-helper s12">
                {{ form_errors(form) }}
            </div>
        </div>

        <button name="submit" type="submit" class="btn waves-effect waves-light">{{ 'btn.submit'|trans }}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
