{% extends 'layout.html.twig' %}

{% set breadcrumb = buildBreadcrumb([{'route': 'app_advanced_item_search_index', 'trans': 'menu.advanced_item_search'}], search, null) %}

{% block title %}
    {{ renderTitle(breadcrumb) }}
{% endblock %}

{% block breadcrumb %}
    {{ renderBreadcrumb(breadcrumb) }}
{% endblock %}

{% block content %}
    <div class="collection-header">
        <div class="title-block">
            <div>
                <h1>{{ 'menu.advanced_item_search'|trans }}</h1>
            </div>
        </div>

        <div class="btn-holder">
            <div>
                <a href="{{ path('app_advanced_item_search_saved_searches') }}" class="button"
                   title="{{ 'tooltip.saved-searches'|trans }}">
                    <i class="fa fa-save fa-fw"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="content-block" data-controller="advanced-search">
        <div class="block-element">
            {% if results is not null %}
                <a href="#" data-advanced-search-target="showFiltersBtn" data-action="click->advanced-search#showFilters">{{ 'btn.show_filters'|trans }}</a>
                <a href="#" class="hidden" data-advanced-search-target="hideFiltersBtn" data-action="click->advanced-search#hideFilters">{{ 'btn.hide_filters'|trans }}</a>
            {% endif %}

            <div data-advanced-search-target="filters" {% if results is not null %} class="hidden" {% endif %}>
                {{ include('App/AdvancedItemSearch/_form.html.twig') }}
            </div>
        </div>

        <div class="block-element">
            <h2 class="header">{{ 'title.results'|trans }}</h2>
            {{ include('App/Collection/_items_' ~ search.displayMode ~ '.html.twig', {
                'items': results,
                'displayConfiguration': getContextUser().itemsDisplayConfiguration
            }) }}
        </div>
    </div>
{% endblock %}