<div class="s3"></div>

<div class="s10 m4">
    <div class="input-field outlined ">
        <input
                type="text"
                id="data_{{ iteration }}_label"
                name="{{ entity }}[data][{{ iteration }}][label]"
                maxlength="255"
                data-additional-data-target="label"
                required
                value="{{ label }}"
                placeholder=" "
        >
        <label for="data_{{ iteration }}_label" class="required {% if label is not null %}active{% endif %}">
            {{ 'label.label'|trans }}
        </label>
    </div>
</div>

<div class="s3"></div>